<?xml version="1.0" encoding="UTF-8"?>
<plugin compile = "true" id="wmatrix-plugin-misc" version="1.2.0" type="basic">
    <name>Misc</name>
    <description>WMatrix Misc Plugin</description>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        </config-file>

        <js-module src="www/misc.js" name="misc">
            <clobbers target="wmatrix.plugin.misc" />
        </js-module>

        <config-file target="PluginConfig.yaml">
            <feature name="MiscPlugin">
                <param name="android-package" value="wmatrix.plugin.misc.MiscPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <lib-file src="src/android/lib/wmatrix-plugin-misc-1.2.0.jar"/>

    </platform>


</plugin>
